/*** 

====================================================================
	Main Header
====================================================================

***/

.main-header.seven {
    /* position: fixed; */
    /* z-index: 999; */
    /* width: 100%; */
    /* top: 20px; */
    /* -webkit-transition: all 300ms ease; */
    -o-transition: all 300ms ease;
    /* transition: all 300ms ease; */
}

.main-header.seven.fixed-header{
	top: 0;
	background-color: rgba(255,255,255,1);
	-webkit-box-shadow: 0 10px 20px rgba(42,38,49,.03);
	        box-shadow: 0 10px 20px rgba(42,38,49,.03);
}

.main-header.seven .header-upper{
	position:relative;
}

.main-header.seven .header-upper .header-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.main-header.seven .header-upper .logo-box{
	position:relative;
	left:0px;
	z-index:10;
	padding: 20px 0;
}

.main-header.seven .header-upper .logo-box .logo img{
	display:inline-block;
	max-width:100%;
	-webkit-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.main-header.seven .header-upper .nav-outer{
	position: relative;
}

.main-header.seven .header-upper .nav-outer .main-menu{
	position: relative;
	float: left;
}

.main-header.seven .outer-box{
	position: relative;
	margin-right: -100px;
}

.main-header.seven .outer-box .btn-box{
	position: relative;
	padding: 20px 0;
}










@media only screen and (min-width: 992px){
	.bkr003 .fixed-top-bar .main-menu .navigation > li > ul,
	.bkr003 .fixed-top-bar .main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}
@media only screen and (max-width: 1700px){
}


@media only screen and (max-width: 1023px){
	.main-header.seven.header-style-one.fixed-header,
	.main-header.seven.header-style-one,
	.main-header.seven.header-style-two.fixed-header,
	.main-header.seven.header-style-two{
		top: 0 !important;
		box-shadow: none;
		border-bottom: 1px solid #f1f1f1;
	}

}

@media only screen and (max-width: 991px){
	.main-header.seven.style-two,
	.main-header.seven.style-one{
		background-color: #ffffff;
	}
	
	.main-header.seven .nav-outer{
		width: 100%;
		padding:0;
		margin: 0 !important;
		margin-top: -76px !important;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu{
		width:100%;
		display:block;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu .navbar-collapse {
	   max-height:300px;
	   max-width:none;
	   overflow:auto;
	   float:none !important;
	   width:100% !important;
	   padding:0px 0px 0px;
	   border:none;
	   margin: 0 !important;
	   -ms-border-radius:0px;
	   -moz-border-radius:0px;
	   -webkit-border-radius:0px;
	   -o-border-radius:0px;
	   border-radius:0px;
	   box-shadow:none;
	  }
   
	.bkr003 .main-content-box .fixed-top-bar .main-menu .navbar-collapse.in,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .collapsing{
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;	
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:20px 0px 10px;
		right:0px;
		z-index:12;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:12;
		border:1px solid #ffffff;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#ffffff;
	}
	
.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation {
    float: none !important;
    margin: 0px !important;
    width: 100% !important;
    /* background: #262627; */
    padding: 10px 15px;
}
	
.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li {
    margin: 0px !important;
    float: none !important;
    padding: 0px !important;
    /* width: 100%; */
}
.bkr003 .fixed-top-bar .link-btn {
    display: none;
}
    
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navigation > li > a,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navigation > li > ul:before{
		border:none;	
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		font-size: 14px;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navigation li a:after,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navigation li a:before,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navigation li:before,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navigation li:after{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding: 8px 10px;
		outline:none;
		width:100%;
		background: #2f2f30;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		-webkit-transform:translateY(0px);
		-ms-transform:translateY(0px);
		transform:translateY(0px);
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
		
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li > ul{
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li > ul > li,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li > ul > li > ul li{
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
		margin: 0px;
		padding: 0px;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li:first-child{
		border:none !important;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > a,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li > a,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li > ul > li > ul li a{
		padding:12px 10px !important;
		line-height:22px;
		color:#ffffff !important;
		text-align:left;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > a:hover,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > a:active,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > a:focus{
		background:#202020;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li:hover > a,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li:hover > a,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li.current > a,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation > li.current-menu-item > a{
		/* background:#0daf96; */
		/* color:#ffffff !important; */
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.sec-title br,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-collapse > .navigation li.dropdown:after,
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navigation > li > ul:before{
		display:none !important;	
	}
	
	
	.main-header .header-upper .logo-box{
		z-index:30;
		padding: 15px 0;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-header .navbar-toggler{
		display: inline-block;
		z-index: 12;
		width: 54px;
		height: 40px;
		float: none;
		padding: 0px;
		text-align: center;
	}
	
	.bkr003 .main-content-box .fixed-top-bar .main-menu  .navbar-header .navbar-toggler .icon-bar{
		position: relative;
		background: #ffffff;
		height: 2px;
		width: 30px;
		display: block;
		margin:0 auto;
		margin:5px 11px;
	}
	
	.main-header.seven .nav-outer{
		width:100%;
		margin-top:-60px;
	}

	.header-style-two .main-menu .navbar-header .navbar-toggler .icon-bar,
	.header-style-one .main-menu .navbar-header .navbar-toggler .icon-bar{
		background-color: #0daf96;
	} 

	.header-style-three.fixed-header,
	.header-style-four.fixed-header,
	.header-style-five.fixed-header {
		border-bottom: 0;
		background-color: #403ab4;
	}


	/*===============================================*/
	.contact-widget {
		margin-left: 0px;
	}
	.testimonial-section-two .thumb-box {
		display: none;
	}
	.app-screenshots-section .slide img {
		transform: scale(1);
		width: 100%;
	}
	.image-block-three .image-box-two {
	    position: relative;
	    bottom: 0;
	    margin-bottom: 70px;
	    margin-top: 50px;
	}
	.app-info-section {
		padding-bottom: 0px;
	}
	.fun-fact-section-two {
		padding-bottom: 0px;
	}
	.counter-block-two:nth-child(2) .inner-box {
		margin-top: 0px;
		left: 0px;
	}

	.counter-block-two:nth-child(3) .inner-box {
		margin-top:0px;
		left: 0px;
	}

	.counter-block-two:nth-child(4) .inner-box {
		right: 0px;
		margin-top: 0px;
	}

	.counter-block-two .inner-box {
		margin-bottom: 30px;
		transform: translateX(0) !important;
	}
	.working-process:before {
		display: none;
	}
	.features-section-six {
		padding-bottom: 0px;
	}
	.features-section-six .image {
		margin-left: 0px;
	}
	.features-section-four .tab-content {
		text-align: center;
	}
	
}












































/*** 

====================================================================
	Main Header style
====================================================================

***/

.main-header-bar.seven {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 9999;
    width: 70px;
    height: 100%;
    background: #222222;
}

.main-header-bar.seven .header-bar-inner{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#222222;
}

.main-header-bar.seven .header-bar-inner .outer-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #383838;
    z-index: 5;
}

.main-header-bar.seven .bar-logo {
    position: absolute;
    left: 0px;
    top: 25px;
    width: 100%;
    padding: 0px 20px;
    text-align: center;
}

.main-header-bar.seven .social-links {
    position: absolute;
    left: 0px;
    bottom: 30px;
    width: 100%;
    padding: 0px 18px;
    text-align: center;
}
.main-header-bar.seven .social-links ul {
	position: relative;
}
.main-header-bar.seven .social-links ul:before {
    position: absolute;
    content: "";
    background-color: #3D3D3D;
    left: 22px;
    top: -80px;
    width: 1px;
    height: 50px;
}

.main-header-bar.seven .social-links li{
	position:relative;
	display:block;
	margin-top:10px;
	line-height:30px;	
}

.main-header-bar.seven .social-links li a {
    position: relative;
    display: block;
    width: 34px;
    height: 34px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 34px;
    color: #fff;
    transition: all 700ms ease;
}

.main-header-bar.seven .social-links li a:hover {
    color: #FFC500;
    transition: all 700ms ease;
}

.main-header-bar.seven .social-links li a:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    background: transparent;
}

.main-header-bar.seven .social-links li a span{
	position:relative;
	z-index:1;	
}

.main-header-bar.seven .nav-toggler {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: 0;
    width: 100%;
}

.main-header-bar.seven .nav-toggler .toggler-btn{
	position:relative;
	display:block;
	background:none;
	width:34px;
	height:20px;
	margin:0 auto;
	cursor:pointer;	
}

.main-header-bar.seven .nav-toggler .toggler-btn.active{
	-webkit-transform:rotate(90deg) scaleX(0.6);
	-ms-transform:rotate(90deg) scaleX(0.6);
	-o-transform:rotate(90deg) scaleX(0.6);
	-moz-transform:rotate(90deg) scaleX(0.6);
	transform:rotate(90deg) scaleX(0.6);
}

.main-header-bar.seven .nav-toggler .toggler-btn .bar {
    position: relative;
    display: block;
    height: 3px;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 5px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    margin: 5px 0px;
}

.main-header-bar.seven .nav-toggler .toggler-btn .bar:first-child{
	-webkit-transform-origin:right top;
	-ms-transform-origin:right top;
	-moz-transform-origin:right top;
	-o-transform-origin:right top;
	transform-origin:right top;
}

.main-header-bar.seven .nav-toggler .toggler-btn .bar:nth-child(2) {
    /* margin: 0px 3px; */
    /* top: 0; */
}
.main-header-bar.seven .nav-toggler .toggler-btn.active .bar:nth-child(2){
	opacity:0;
}

.main-header-bar.seven .nav-toggler .toggler-btn.active .bar:first-child{
	-webkit-transform:rotate(-30deg);
	-ms-transform:rotate(-30deg);
	-o-transform:rotate(-30deg);
	-moz-transform:rotate(-30deg);
	transform:rotate(-30deg);
}

.main-header-bar.seven .nav-toggler .toggler-btn.active .bar:last-child{
	-webkit-transform:rotate(30deg);
	-ms-transform:rotate(30deg);
	-o-transform:rotate(30deg);
	-moz-transform:rotate(30deg);
	transform:rotate(30deg);
}

.main-header-bar.seven .nav-toggler .toggler-btn .bar:last-child{
	margin-bottom:0px;
	-webkit-transform-origin:right bottom;
	-ms-transform-origin:right bottom;
	-moz-transform-origin:right bottom;
	-o-transform-origin:right bottom;
	transform-origin:right bottom;
}

.main-header-bar.seven .nav-toggler .name {
    position: relative;
    top: 20px;
    left: 25px;
}

.main-header-bar.seven .nav-toggler .name h3 {
    font-size: 12px;
    color: #646464;
    text-transform: uppercase;
    font-weight: 700;
}

.main-header-bar.seven .main-nav-outer {
    position: absolute;
    left: -360px;
    top: 0px;
    width: 360px;
    height: 100%;
    background: rgba(0,0,0,0.50);
    overflow: hidden;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.fixed-header .main-header-bar.seven .main-nav-outer,
.inner-page-header .main-header-bar.seven .main-nav-outer{
	background:rgba(44,44,44,1);	
}

.main-header-bar.seven .main-nav-outer.now-visible {
    left: 100%;
}

.main-header-bar.seven .main-nav-outer .main-logo-box {
    position: absolute;
    left: 0px;
    top: 25px;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.main-header-bar.seven .main-nav-outer .copyright-text-box{
	position:absolute;
	right:0px;
	bottom:15px;
	line-height:24px;
	font-size:12px;
	color:#b0b0b0;
	width:100%;
	text-align:center;
	z-index:1;
}

.main-header-bar.seven .main-nav-outer .main-nav-box {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav{
	position:relative;
	width:100%;
	display:table-cell;
	vertical-align:middle;
	font-family: 'Montserrat', serif;
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation {
    position: relative;
    right: 0px;
    top: 0px;
    display: block;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.20);
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation.subnav-visible{
	right:-360px;
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li{
	position:static;
	display:block;
	border-bottom:1px solid rgba(255,255,255,0.20);
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li.dropdown > a:after {
    content: "\f0dd";
    position: relative;
    padding-left: 8px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li > a{
	position:relative;
	display:block;
	padding:12px 0px;
	font-size:12px;
	color:#ffffff;
	line-height:24px;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:1px;
	opacity:1;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li:hover > a,
.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li.current > a{
	color:#FAC921;	
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li > ul{
	position:absolute;
	right:100%;
	top:-1px;
	width:100%;
	opacity:0;
	visibility:hidden;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li.open > ul{
	opacity:1;
	visibility:visible;	
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li > ul > li{
	position:relative;
	display:block;
	border-bottom:1px solid rgba(255,255,255,0.20);
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:12px 0px;
	font-size:12px;
	color:#ffffff;
	line-height:24px;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:1px;
	opacity:1;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li > ul > li:hover > a,
.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation > li > ul > li.current > a{
	color:#FAC921;	
}



/* Vigo - Portfolio HTML Template */

@media only screen and (max-width: 1420px){}
@media only screen and (max-width: 1340px){}

@media only screen and (max-width: 1279px){
	.main-slider .fullwidthbanner-container,
	.inner-banner .content-inner,
	.fullwidth-page .page-wrapper,
	.main-content-box{
		padding-left:0px !important;
		padding-top:0px !important;	
	}
	
	.main-content-box .fixed-top-bar{
		border-left:none;
		position:relative !important;	
	}
.right-bar {
    display: none;
}
.column-wrap {
    padding-right: 0 !important;
}
	
.main-header-bar.seven {
    width: 100%;
    height: 70px;
    z-index: 9999;
}
.fixed-left-column.two {
    padding-left: 0 !important;
}
	
.main-header-bar.seven .header-bar-inner .outer-box {
    position: relative;
    padding: 0px 50px;
    height: auto;
    width: 100%;
}
	
	.main-content-box .auto-container{
		padding:0px 50px;
	}
	
.main-header-bar.seven .bar-logo {
    position: relative;
    float: left;
    margin: 0px;
    left: auto;
    top: 0;
    bottom: auto;
    right: auto;
    text-align: left;
    width: auto;
    height: auto;
    padding: 40px 0px;
}
	
.main-header-bar.seven .nav-toggler {
    position: relative;
    float: right;
    margin: 0px;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    text-align: left;
    width: auto;
    height: auto;
    padding: 40px 0px;
}
.main-header-bar.seven .nav-toggler .name {
    left: 0;
}
	
	.main-header-bar.seven .social-links{
		display:none;	
	}
	
	.main-header-bar.seven .main-nav-outer{
		position:fixed;
		width:360px;
		height:100%;
		overflow-y:	auto;
	}
	
.main-header-bar.seven .main-nav-outer.now-visible {
    left: 0px;
}
	
	.main-header-bar.seven .main-nav-outer .main-logo-box,
	.main-header-bar.seven .main-nav-outer .copyright-text-box{
		display:none;
	}
	
	.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav{
		padding:70px 0px 20px;	
	}
.bkr003 .main-content-box {
    padding-right: 0px;
}
    
}

@media only screen and (max-width: 1199px){
.column-wrap {
    width: 100% !important;
    padding-right: 0 !important;
}
.fixed-right-nav.two.scroll-nav-holder {
    opacity: 1;
}
	
}
@media only screen and (max-width: 1140px){

	
}

@media only screen and (min-width: 768px){

}

@media only screen and (max-width: 1023px){
	
	.main-header-bar.seven .header-bar-inner .outer-box{
		padding:0px 20px;
	}
	
	
	.header-style-two .main-box{
		padding-left:20px;
		padding-right:20px;	
	}
	
	.hidden-bar{
		width:300px;	
	}

	
	.header-style-two .social-links li{
		margin-left:20px;
	}

	
}
@media (min-width: 768px){

}
@media only screen and (max-width: 767px){
    
    .fixed-right-nav.scroll-nav-holder.two {
        display: none;
    }


}

@media only screen and (max-width: 599px){
	.main-slider .text br,
	.main-header-bar.seven .main-nav-outer .main-logo-box{
		display:none;	
	}
	
.main-header-bar.seven .main-nav-outer {
    background: rgba(44,44,44,1);
    width: 100%;
    left: -100%;
}
	
.main-header-bar.seven .main-nav-outer .main-nav-box .main-nav .navigation.subnav-visible {
    right: -100%;
}
	
}

@media only screen and (max-width: 479px) {

}


@media only screen and (max-width: 991px){}

@media only screen and (max-width: 767px){}









/*** 

====================================================================
		fixed-left-column
====================================================================

***/

.fixed-left-column.two {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    padding-left: 0;
    z-index: 4;
    -webkit-transform: translate3d(0,0,0);
    overflow: hidden;
}

.fixed-left-column.two .bg-box{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all 0.9s ease;
	-moz-transition:all 0.9s ease;
	-webkit-transition:all 0.9s ease;
	-ms-transition:all 0.9s ease;
	-o-transition:all 0.9s ease;
}

.fixed-left-column.two .overlay-box{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.50;
}

.fixed-left-column.two .title {
    position: absolute;
    display: block;
    left: -200px;
    bottom: 300px;
    margin-top: -100px;
    font-size: 100px;
    line-height: 1em;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate(-90deg) translateX(50%);
    -moz-transform: rotate(-90deg) translateX(50%);
    -ms-transform: rotate(-90deg) translateX(50%);
    -o-transform: rotate(-90deg) translateX(50%);
    transform: rotate(-90deg) translateX(50%);
	z-index: 90;
}

.fixed-left-column.two .page-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0);
}

.fixed-left-column.two .page-progress-bar .bar-inner {
    position: relative;
    padding: 23px 30px;
    max-width: 380px;
    margin: 0 auto;
    background: #fff0;
}
.fixed-left-column.two .page-progress-bar .bar-inner:before {
    position: absolute;
    left: 30px;
    top: 32px;
    background: #fff;
    width: 320px;
    height: 3px;
    content: "";
}
.fixed-left-column.two .page-progress-bar .bar-inner .page-progress {
    position: relative;
    left: 0px;
    top: 0px;
    width: 64px;
    height: 12px;
    z-index: 1;
    background: #fc3549;
    border-radius: 0;
    -moz-transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}

.fixed-left-column.two .bg-scroll {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: 2s;
}

.fixed-left-column.two .overlay {
    position: absolute;
    content: '';
    background: rgba(34, 34, 34, 0.5);
    width: 100%;
    height: 100%;
}

.fixed-left-column.two .outer-box {
    position: relative;
    height: 100%;
    width: 100%;
    background: #2f2f2f;
}

.scrbg .bg-scroll{
	/*transform: translateX(-100%);*/
	/*transform: scaleX(.5);*/
	/*transform-origin: 0 0;*/
	opacity: .2;
}

.column-wrap {
    float: right;
    width: 75%;
    position: relative;
    padding-right: 0;
}

/*** 

====================================================================
		Fixed One Page Navigation
====================================================================

***/

.fixed-right-nav.two {
    position: relative;
    right: 0;
    top: 0;
    padding-top: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    overflow: hidden;
}

.fixed-right-nav.two .scroll-nav {
    background: #454545;
    width: 100%;
    float: left;
    position: relative;
}

.fixed-right-nav.two.scroll-nav-holder.two.now-fixed {
    position: fixed;
    float: right;
    width: 75%;
    padding-right: 0;
}

.fixed-right-nav.two ul{
	    float: left;
    width: 100%;	
}

.fixed-right-nav.two ul li {
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    background: #404040;
}

.fixed-right-nav.two ul li a {
    font-weight: 700;
    font-size: 12px;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    transition: all 700ms ease;
}

.fixed-right-nav.two ul li:hover a, .fixed-right-nav.two ul li.active a, .fixed-right-nav.two ul li a.act-link {
    color: #222;
    background: #fc3549;
    transition: all 700ms ease;
}

.fixed-right-nav.two ul li {
    margin-left: -1px!important;
}


.right-bar {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9999;
    width: 80px;
    height: 100%;
    background: #383838;
}
.right-bar .msg-box {
    position: relative;
    border-bottom: 1px solid #959595;
}
.right-bar .msg-box a {}
.right-bar .msg-box a span {
    color: #777777;
    font-size: 18px;
    padding: 25px 31px;
}
.right-bar .social-links {
    position: relative;
    border-bottom: 1px solid #959595;
    margin-top: 20px;
    padding-bottom: 10px;
}
.right-bar .social-links ul {}
.right-bar .social-links ul li {
    border: 2px solid #FFC81D;
    width: 30px;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    background: #FFC81D;
    transition: all 700ms ease;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
.right-bar .social-links ul li a {
    color: #222222;
    padding: 5px 5px;
}
.right-bar .copyright {
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 250px;
    text-align: left;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}
.right-bar .copyright p {
    font-size: 13px;
    color: #fff;
}

.banner-section-01.two .swiper-counter {
    right: 225px;
}